.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  background: transparent;
  border: 1px solid #ffffff75;
  font-size: 18px;
  max-width: 90px;
  padding: 2px 8px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
